/*-------------------------Seccion video---------------------------*/

.seccion-video{
    display: inline-block;
    width: 100%;
    margin: 0;
    height: 280px;
}
.imgfondo{
    overflow: hidden;
    scroll-behavior: auto;
    overflow-y: auto;
    background-image: url(imagenfondo1.png);
    animation: movimiento 200s linear infinite alternate;
}
@keyframes movimiento{
    from{
        background-position: 0;
    }to{
        background-position: 100%;
    }
}
.seccion-video__h1{
    display: inline-block;
    margin: auto;
    color: #fff;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10%;
    font-size: 5vw;
    text-align: center;
    position: static;
    text-shadow: 2px 2px 2px rgb(2, 34, 216);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.seccion-video__h2{
     display: inline-block;
     color: #fff;
     padding-left: 4%;
     padding-right: 4%;
     padding-top: 3%;
     padding-bottom: 2% ;
     font-size: 5vw;
     text-align: center;
     position: static;
     text-shadow: 2px 2px 2px rgb(2, 34, 216);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.seccion-video__videobox{
    height: 100vh;
    width: 100vw;
    display: flex;

}
.seccion-video__container{
    margin: 0px auto 0;
    padding-left: 0;
    border: 2px solid rgb(255, 238, 2);
    height: 54vw;
    max-height: 720px;
    width: 95vw;
    max-width: 1200px;
    display: inline-block;
    position: relative;
}
.seccion-video__video{
    width: 100%;
    height: 100%;
}
/*--------------Seccion del middle label---------------------------*/
.middle-label{
    display: inline-block;
    background-color: #000;
    width: 100%;
    padding: 0%;
    border-radius: 2%;
    filter: opacity(90%);
}
.middle-label__h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    padding-left: 25%;
    padding-top: 3%;
    margin: auto;
    font-size: 5vw;
}
.middle-label__h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    padding: 10%;
    margin: auto;
    font-size: 5vw;
    text-align: center;
}
/*-----------Seccion contador limitante----------------------*/
.countDown-box{
    background-color: rgba(64, 16, 197, 0.589);
}
.countDown-box__countDown{
    display: inline-block;
    color: #fff;
    font-size: 15vw;
    padding-left: 25%;
}
/*--------------------Detalles ----------------------------*/
.detalles{
    background-color: rgba(0, 0, 0, 0);
    padding: 2%;
}
/*-------------Imagen de producto--------------*/
.detalles-boximagen{
    padding: 3%;
    width: 90vw;
    height: 90vw;
    max-width: 630px;
    max-height: 630px;
    display: block;
    float: auto;
}
.detalles-boximagen__imagen{
    width: 100%;
    height: 100%;
}
/*-------------Descripcion de producto-------------------*/
.detalles-boxdescripcion{
    background-color: rgba(0, 0, 0, 0.714);
    display: block;
    width: 90vw;
    height: 80vw;
    max-width: 680px;
    max-height: 720px;
    float: auto;
    padding-bottom: 7%;
    border: 2px solid rgb(0, 118, 122);
}
.h4-descripcion{
    color: rgb(252, 240, 0);
    text-shadow: 2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5vw;
    padding: 5%;
}
.detalles-boxdescripcion__descripcion{
    color: #fff;
    text-shadow: 2px 2px 2px rgb(2, 34, 216);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5vw;
    padding-left: 5%;
    padding-right: 3%;
    padding-bottom: 3%;

}
/*-------------Seccion objetivos------------------*/
.detalles-boxobjetivos{
    background-color: rgba(31,28,28,0.74);
    border: 2px solid rgb(0, 118, 122);
    display: inline-block;
    width: 90vw;
    height: 260vw;
    max-width: 680px;
    max-height: 3400px;
    padding-bottom: 7%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.h4-objetivos{
    color: rgb(252, 240, 0);
    text-shadow: 2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5vw;
    padding: 5%;
}
.detalles-boxobjetivos__objetivos{
    margin: 2px;
    padding-bottom: 5px;
}
.detalles-boxobjetivos__objetivo{
    color: #fff;
    text-shadow: 2px 2px 2px rgb(2, 34, 216);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5vw;
    padding-right: 15px;
    padding-bottom: 20px;
}